.items{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    font-size: 15px;
    background-color: rgb(255, 175, 27);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    left: 15px;
    top: -4px;


}