.orderleft{
    margin: 0 auto;
}
.totalPriceOrder{
    font-size: 20px;
    font-weight: bold;
    border-top: 2px solid orange;
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}
.orderPage{
    margin: auto;
    display: flex;
}