.nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 200px;
    .navItem{
        font-size: 16px;
        padding-bottom: 1px;
        margin-bottom: 9px;
        cursor: pointer;
        font-weight: 700;
        text-transform: uppercase;
        height: 25px;
        width: 176px;
            border-bottom: 1px solid white;
            margin-left: 10px;
        &:hover{
            transition: 500ms;
            border-bottom: 1px solid  rgb(180, 123, 18);
        }
        a{
            color: black;
            &:hover{
                color: rgb(180, 123, 18);
                transition: 500ms;

            }
        }
    }
    .food{
        color: rgb(255, 175, 27);
        margin-bottom: 10px;
    }
}